amqp==2.0.3
anyjson==0.3.3
Babel==2.3.4
billiard==3.5.0.0
celery==3.1.23
coverage==4.2
coveralls==1.1
Django==1.10
django-celery==3.1.17
djangorestframework==3.4.4
docopt==0.6.2
flake8==3.0.4
flower==0.9.1
gunicorn==19.6.0
kombu==3.0.35
mccabe==0.5.2
psycopg2==2.6.2
pycodestyle==2.0.0
pyflakes==1.2.3
pytz==2016.6.1
requests==2.11.0
tornado==4.4.1
vine==1.1.1
